.gallery {
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	justify-content: space-between;
	--gridspace: 4px;
	margin-left: calc(-1 * var(--gridpace));
	margin-bottom: calc(-1 * var(--gridpace));
	//touch-action: pan-y !important;

	.photo,
	figure,
	figcaption {
		padding: 0;
		margin: 0;
		position: relative;
		//border-radius: 4px;
	}

	.photo {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		position: absolute;
		z-index: 1;
	}

	figure {
		flex-grow: 1;
		cursor: pointer;
		overflow: hidden;
		margin-left: var(--gridspace);
		margin-bottom: var(--gridspace);
		max-height: 90vh;

		&:after {
			content: " ";
			display: block;
			padding-bottom: 100%;
		}

		&:hover figcaption,
		&:focus figcaption {
			opacity: 1;
			& > * {
				bottom: 0;
				opacity: 1;
				transition: all 0.4s ease-out 0.1s;
			}
		}
	}
	figcaption {
		//color: #fff;
		z-index: 2;
		position: absolute;
		//top: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		//height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		//background-color: rgba(0, 0, 0, .16);
		background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
		transition: all 0.6s;
		opacity: 0.000001;
		pointer-events: none;

		& > * {
			width: auto;
			max-width: 80%;
			position: relative;
			bottom: -1em;
			opacity: 0;
			transition: all 0.4s ease-in 0;
		}
	}

	svg.loading-circle {
		z-index: -2;
		position: absolute;
		width: 50%;
		min-width: 48px;
		max-width: 192px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&.level-0 {
		// 6
		figure {
			flex-basis: 13%;
			//max-height: calc(16.666vw - .5vw);
			flex-basis: calc(16.666% - var(--gridspace));
		}
	}

	&.level--2 {
		// 12
		figure {
			flex-basis: 7%;
			//max-height: calc(8.333vw - .5vw);
			flex-basis: calc(8.333% - var(--gridspace));
		}
	}
	&.level--1 {
		// 8
		figure {
			flex-basis: 10%;
			//max-height: calc(12.5vw - .5vw);
			flex-basis: calc(12.5% - var(--gridspace));
		}
	}

	&.level-1 {
		// 4
		figure {
			flex-basis: 21%;
			//max-height: calc(25vw - .5vw);
			flex-basis: calc(25% - var(--gridspace));
		}
	}
	&.level-2 {
		// 3
		figure {
			flex-basis: 26%;
			//max-height: calc(33vw - .5vw);
			flex-basis: calc(33% - var(--gridspace));
		}
	}
	&.level-3 {
		// 2
		figure {
			flex-basis: 34%;
			//max-height: calc(50vw - .5vw);
			flex-basis: calc(50% - var(--gridspace));
		}
	}
	&.level-4 {
		// 1
		figure {
			flex-basis: 51%;
			//max-height: calc(100vw - .5vw);
			flex-basis: calc(100% - var(--gridspace));
			&:only-of-type {
				.photo {
					height: auto;
					max-height: 90vh;
					position: relative;
					object-fit: contain;
				}
				&:after {
					content: "";
					padding: 0;
				}
			}
		}
	}
}
.mobile .gallery {
	--gridspace: 2px;
}

#filterBox {
	position: fixed;
	bottom: 1rem;
	right: 2rem;
	z-index: 1;
	opacity: 0.25;
	transition: all 0.4s ease;

	.card-header {
		cursor: pointer;
		transition: all 0.4s ease;
	}
	.card-body {
		max-height: 100vh;
		transition: all 0.4s ease;
	}

	&:hover,
	&:focus {
		opacity: 1;
	}
	input[type="text"] + svg {
		height: 1.25em;
		margin-top: -0.625em;
		position: absolute;
		right: 0.25em;
		top: 50%;
		opacity: 0.25;
		background-color: transparent;
		cursor: pointer;
		transition: all 0.4s;
		&:hover {
			opacity: 1;
			background-color: var(--light);
		}
	}

}
.mobile #filterBox {
	bottom: 6rem;
	right: 50%;
	transform: translateX(50%);
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0) !important;

	&.collapsed {
		opacity: 1;
		bottom: 1.67rem;
		margin-right: -5rem;
		border-color: transparent !important;
		background-color: transparent;
		> div.card-header {
			background-color: transparent !important;
			border-color: transparent;
			.btn {
				border-color: transparent;
				background-color: var(--secondary);
			}
		}
		> div.card-body {
			max-height: 0;
			width: 0;
			padding: 0;
			transform: scaleY(0);
			transform-origin: top center;
			background-color: transparent !important;
			opacity: 0;
		}
	}

}
