.gallery {
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	justify-content: space-between;
	--gridspace: 4px;
	margin-left: calc(-1 * var(--gridpace));
	margin-bottom: calc(-1 * var(--gridpace));
	//touch-action: pan-y !important;

	.photo,
	figure,
	figcaption {
		padding: 0;
		margin: 0;
		position: relative;
		//border-radius: 4px;
	}

	.photo {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		z-index: 1;
	}

	figure {
		flex-grow: 1;
		cursor: pointer;
		overflow: hidden;
		margin-left: var(--gridspace);
		margin-bottom: var(--gridspace);
		max-height: 90vh;

		&:after {
			content: ' ';
			display: block;
			padding-bottom: 100%;
		}

		&:hover figcaption,
		&:focus figcaption {
			opacity: 1;
			& > * {
				bottom: 0;
				opacity: 1;
				transition: all .4s ease-out .1s;
			}
		}
	}
	figcaption {
		//color: #fff;
		z-index: 2;
		position: absolute;
		//top: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		//height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		//background-color: rgba(0, 0, 0, .16);
		background: linear-gradient(to top, rgba(0,0,0,.5), rgba(0,0,0,0));
		transition: all .6s;
		opacity: .000001;
		pointer-events: none;

		& > * {
			width: auto;
			max-width: 80%;
			position: relative;
			bottom: -1em;
			opacity: 0;
			transition: all .4s ease-in 0;
		}
	}

	&.level-0 {// 6
		figure {
			flex-basis: 13%;
			//max-height: calc(16.666vw - .5vw);
			flex-basis: calc(16.666% - var(--gridspace));
		}
	}

	&.level--2 {// 12
		figure {
			flex-basis: 7%;
			//max-height: calc(8.333vw - .5vw);
			flex-basis: calc(8.333% - var(--gridspace));
		}
	}
	&.level--1 {// 8
		figure {
			flex-basis: 10%;
			//max-height: calc(12.5vw - .5vw);
			flex-basis: calc(12.5% - var(--gridspace));
		}
	}

	&.level-1 {// 4
		figure {
			flex-basis: 21%;
			//max-height: calc(25vw - .5vw);
			flex-basis: calc(25% - var(--gridspace));
		}
	}
	&.level-2 {// 3
		figure {
			flex-basis: 26%;
			//max-height: calc(33vw - .5vw);
			flex-basis: calc(33% - var(--gridspace));
		}
	}
	&.level-3 {// 2
		figure {
			flex-basis: 34%;
			//max-height: calc(50vw - .5vw);
			flex-basis: calc(50% - var(--gridspace));
		}
	}
	&.level-4 {// 1
		figure {
			flex-basis: 51%;
			//max-height: calc(100vw - .5vw);
			flex-basis: calc(100% - var(--gridspace));
		}
	}

}

.mobile .gallery {
	--gridspace: 2px;
}
@media screen and (orientation: landscape) {
	.mobile .gallery {
	}
}
