#map {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.thumbnail {
	width: 100%;
	height: auto;
	text-align: center;
	line-height: 200%;
}

.leaflet-popup {
	left: -80px !important;
	margin-right: 16px;
}

#map .leaflet-popup-content-wrapper {
	position: relative;
	box-shadow: 0 3px 14px rgba(0,0,0,0.15);
}

#map .leaflet-popup-content {
	margin: 0.75rem;
}

.leaflet-popup-content h4 {
	position: relative;
}
.leaflet-popup-content h4 span {
	display: block;
	transform: scaleY(1);
	transform-origin: top center;/* bottom center */
	transition: transform .2s ease;
}
.leaflet-popup-content h4 a {
	position: absolute;
	top: 0; right: 0;
	bottom: 0; left: 0;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .75rem;
	font-weight: 500;
	color: var(--primary);
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: scaleY(0);
	transform-origin: top center;
	transition: transform .2s ease;
}
.leaflet-popup:focus h4 span,
.leaflet-popup:active h4 span,
.leaflet-popup-content h4:hover span {
	transform: scaleY(0);
}
.leaflet-popup:focus h4 a,
.leaflet-popup:active h4 a,
.leaflet-popup-content h4:hover a {
	transform: scaleY(1);
}


div.leaflet-container a.leaflet-popup-close-button {
	padding: 1px 3px 3px 3px;
	opacity: .3;
	font-weight: 300;
	color: var(--indigo);
	background-color: #fff;
	width: auto;
	height: auto;
	border-radius: 4px;
	/* border: 2px solid currentColor; */
	transform: translate(100%,-100%);
	box-shadow: 0 3px 14px rgba(0,0,0,0.15);
	transition: opacity .3s;
}
div.leaflet-container a.leaflet-popup-close-button:hover {
	color: var(--secondary);
	opacity: 1;
}

.leaflet-popup-content .deletePlace {
	width: 100%;
	padding: 0.5em;
	cursor: pointer;
	text-align: center;
	font-size: .75em;
	color: var(--light);
	background-color: var(--pink);
}
