header {
	width: 100%;
}
main {
	flex-grow: 8;
	position: relative;
}

svg.feather, img.feather {
	height: 1em;
	width: auto;
}
.feather path,
.feather line,
.feather rect,
.feather circle,
.feather polygon,
.feather polyline {
	color: currentColor;
	stroke: currentColor;
}