#mapInputBox {
	z-index: 402;
	position: absolute;
	right: 1rem;
	bottom: 1rem;
	margin-top: 1rem;
	margin-left: 1rem;
	max-width: 50%;
	max-height: 75%;
	width: auto;
}
/*#mapInputBox.collapsed,
#mapInputBox.collapsed .card-header,*/
#mapInputBox.collapsed .card-header:first-child {
	border-radius: calc(.25rem - 1px);
}
#mapInputBox.collapsed .card-body {
	width: 0;
	height: 0;
	transform: scale(0);
	padding: 0;
	margin: 0;
	border: none !important;
	/*position: absolute;*/
	transition: transform .6s ease, width .4s ease, height .4s ease, padding .4s ease, margin .4s ease;
}

.card-body {
	width: 16rem;
	max-width: 100%;
	transform: scale(1);
	transform-origin: top right;
	transition: transform .4s ease, width .4s ease, height .4s ease, padding .4s ease, margin .4s ease;
	overflow: auto;
}
.btn.disabled {
	cursor: not-allowed;
}

.btn-group .btn {
	box-sizing: border-box;
	text-align: center;
	min-width: 50%;
}
